<div class="grid grid-cols-2 gap-4">

  <div class="p-6">
    <!-- Simple Editor -->
    <div class="text-xl mb-2">Simple Editor</div>
    <tiptap-editor [editor]="editor" [(ngModel)]="value"></tiptap-editor>

    <!-- Editor with floating menu -->
    <div class="text-xl mb-2 mt-6">Floating Menu</div>
    <tiptap-editor [editor]="editorF" [(ngModel)]="value"></tiptap-editor>
    <tiptap-floting-menu [editor]="editorF">
      <div class="border border-black rounded bg-gray-300">
        <button type="button" class="px-1" (click)="editorF.chain().focus().toggleHeading({ level: 1 }).run()"
          [ngClass]="{'bg-gray-900 text-white': editorF.isActive('heading', { level: 1 })}">h1</button>
        <button type="button" class="px-1 boder border-0 border-l border-black"
          (click)="editorF.chain().focus().toggleHeading({ level: 2 }).run()"
          [ngClass]="{'bg-gray-900 text-white': editorF.isActive('heading', { level: 2 })}">h2</button>
        <button type="button" class="px-1 boder border-0 border-l border-black"
          (click)="editorF.chain().focus().toggleBulletList().run()"
          [ngClass]="{'bg-gray-900 text-white': editorF.isActive('bulletList')}">bullet list</button>
      </div>
    </tiptap-floting-menu>

    <!-- Editor with bubble menu -->
    <div class="text-xl mb-2 mt-6">Bubble Menu</div>
    <tiptap-editor [editor]="editorB" [(ngModel)]="value"></tiptap-editor>
    <tiptap-bubble-menu [editor]="editorB">
      <div class="border border-black rounded bg-gray-300">
        <button type="button" class="px-1" (click)="editorB.chain().focus().toggleBold().run()"
          [ngClass]="{'bg-gray-900 text-white': editorB.isActive('bold')}">bold</button>
        <button type="button" class="px-1 boder border-0 border-l border-black"
          (click)="editorB.chain().focus().toggleItalic().run()"
          [ngClass]="{'bg-gray-900 text-white': editorB.isActive('italic')}">italic</button>
        <button type="button" class="px-1 boder border-0 border-l border-black"
          (click)="editorB.chain().focus().toggleStrike().run()"
          [ngClass]="{'bg-gray-900 text-white': editorB.isActive('strike')}">strike</button>
      </div>
    </tiptap-bubble-menu>
  </div>

  <div class="p-6">
    <!-- Angular Renderer -->
    <div class="text-xl mb-2">AngularNodeViewRenderer</div>
    <tiptap-editor [editor]="editorA"></tiptap-editor>
  </div>
</div>
