<div class="h-screen container container mx-auto py-20 px-8 md:px-16 lg:px-32">
  <nav class="mb-5">
    <a routerLink="" class="text-blue-600 hover:underline visited:text-purple-600">Simple Editor</a>
    <a routerLink="floating-menu" class="text-blue-600 hover:underline visited:text-purple-600 ml-4">Floating Menu</a>
    <a routerLink="bubble-menu" class="text-blue-600 hover:underline visited:text-purple-600 ml-4">Bubble Menu</a>
    <a routerLink="nodeview-renderer" class="text-blue-600 hover:underline visited:text-purple-600 ml-4">
      Nodeview Renderer
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
