/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ProseMirror > * + * {
  margin-top: 0.75rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1rem;
  list-style: initial !important;
}

.ProseMirror .ProseMirror-gapcursor {
  bottom: 0;
}

h1 {
  font-size: 1.5rem;
}
