<div class="text-xl mb-2">Bubble Menu</div>
<tiptap-editor [editor]="editor" [(ngModel)]="value" id="editor-with-bubble-menu"></tiptap-editor>
<tiptap-bubble-menu [editor]="editor">
  <div class="border border-black rounded bg-black text-gray-300" data-test-id="bubble-menu">
    <button type="button" class="px-1 hover:text-white" (click)="editor.chain().focus().toggleBold().run()"
      [ngClass]="{'bg-gray-900 text-white': editor.isActive('bold')}">bold</button>
    <button type="button" class="px-1 hover:text-white boder border-0 border-l border-white"
      (click)="editor.chain().focus().toggleItalic().run()"
      [ngClass]="{'bg-gray-900 text-white': editor.isActive('italic')}">italic</button>
    <button type="button" class="px-1 hover:text-white boder border-0 border-l border-white"
      (click)="editor.chain().focus().toggleStrike().run()"
      [ngClass]="{'bg-gray-900 text-white': editor.isActive('strike')}">strike</button>
  </div>
</tiptap-bubble-menu>
